{% load static %}
{% load shoes_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'shoes/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="{% static 'shoes/images/logo.png' %}" alt="Logo">
            </a>
        </div>
        
        <div class="menu">
            {% for item in menu %}
                <a href="{% url item.url_name %}" class="menu-btn">{{ item.title }}</a>
            {% endfor %}
        </div>
    </div>
    <h1>{{title}}</h1>
    
    <!-- Sidebar слева -->
    <td valign="top" class="left-chapters">
        <ul id="leftchapters">
            {% if cat_selected == 0 or cat_selected is None %}
            <li class="selected">Все категории</li>
            {% else %}
            <li><a href="{% url 'home' %}">Все категории</a></li>
            {% endif %}
            
            {% show_categories cat_selected %}
            
            <li class="share">
                <p>Наш канал</p>
                <a class="share-yt" href="#" target="_blank" rel="nofollow"></a>
            </li>
            
            <!-- ВЫЗОВ ТЕГОВ (добавить эту строку) -->
            {% show_all_tags %}
        </ul>
    </tr>
    
    {% block breadcrumbs %}{% endblock %}
    {% block content %}{% endblock %}
</body>
</html>